@import url(http://fonts.googleapis.com/css?family=Raleway:700,800);

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #88AB8E;
  margin: 0;
  font-family: Jomhuria;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.btn {
  min-width: 200px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 400;
  border-radius: 12px;
  transition: background-color .2s ease;
}

.btn-main {
  background: #00A480;
}

.btn-main:hover {
  background-color: #1F7B67;
}

.btn-secondary {
  border: 1px solid white;
}

.btn-secondary:hover {
  background-color: #CED5C1;
}

.header {
  border-bottom: 2px solid #25547B;
  background-color: white;
}

.header_wrapper {
  height: 90px;
  align-items: center;
  display: flex;
  justify-content: space-between;

}

.header__block {
  width: 40%;
}

.header__block.right {
  display: flex;
  justify-content: flex-end;
}

.nav {
  display: flex;

}

.nav_link {
  margin-right: 24px;
  color: #03355D;
  font-size: 48px;
  font-weight: 400;
  transition: color .2s ease;
}

.nav_link:hover {
  color: #0B5FA5;
}


.header_actions {
  display: flex;
  align-items: center;
}

.header_link {
  margin-right: 8px;
}

.header_link img {
  display: block;
}

.header_link:last-child {
  margin-right: 0;
}

.intro {
  background-repeat: no-repeat;
}

.intro_wraper {
  min-height: 655px;
  display: flex;
  align-items: center;
  padding: 20px 0px;
}

.intro_block {
  max-width: 705px;
}

.intro_title {
  font-size: 80px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  line-height: 1.4;
  border-bottom: 2px solid black;
}

.intro_text {
  font-size: 40px;
  color: white;
  margin: 0 0 35px;
}

.intro_actions {
  display: flex;
}

.intro_actions .btn-main{
  margin-right: 20px;
}

.block_title {
  margin-bottom: 40px;
  line-height: 1;
  font-size: 60px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  text-align: center;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

/*Games catolog*/

.products_wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.products_block {
  position: relative;
  height: 300px;
  width: 33%;
  padding: 0 10px;
  margin-bottom: 30px;
  overflow: hidden;
  margin-bottom: 50px;
  transition: all .125s ease;
}

.products_block:hover {
  transform: scale(0.9);
}

.products_block .card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s;
}

.products_block img {
  transition: all .125s ease;
}

.products_block:hover img {
  filter: brightness(70%); /* Затемнение картинки при наведении */
}

.products_block:hover img {
  transform: scale(1.25);
}

.products_block:hover .card-content{
  position: absolute;
  opacity: 1;
}

.card-content {
  opacity: 0;
  transition: all .125s ease;
}

.products_img {
  max-height: 300px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  
}

.products_button {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 10px 50px;
  margin: 10px 135px;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 25px;
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
  align-items: center;
  border: 2px solid black;
}

.products_button:hover {
  background-position: right center;
}


/* планшеты горизонтально */
@media (min-width: 992px) and (max-width: 1199px) {

}


/* планшеты вертикально */
@media (min-width: 768px) and (max-width: 991px) {
  .products_item {
    flex-direction: column; /* Отображение в столбец для маленьких экранов */
    align-items: center; /* Центрирование элементов по центру */
    text-align: center;
  }

  .game-body {
    flex-direction: column;
    align-items: center;
    width: 67%;
    margin: 20px;
  } 

  .products_item img {
    max-width: 100%; /* Сделать изображения адаптивными */
    margin-bottom: 10px;
  }

  .nav {
    margin: 140px;
  }

  .intro_block {
    padding: 120px;
  }

  .products_wrapper {
    width: 67%; /* Ширина продукта (2% на отступы) */
    margin-bottom: 10px;
    margin-left: 5px;
  }

  .block_title {
    widows: 25%; 
  }
}


.game-body {
  background-color: #2D9596;
  margin: 0;
  padding: 10px;
  border-radius: 10px;
}



.p-title-game {
  text-align: center;
  font-size: 60px;
}

.game-click {
  background-color: #265073;
  font-size: 40px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.game-click:hover {
  color: #265073;
  background-color: white;
}

.swiper {
  margin-top: 100px;
  width: 1200px;
  height: 1000px;
  padding: 100px;
  height: 100%;
}

.swiper-slide{
  text-align: center;
  font-size: 18px;
  background-color: #5F6F52;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
}

.swiper-slide img{
  width: 78%;
  object-fit: cover;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev{
  right: 140px !important; 
  left: auto;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next{
  left: 140px !important; 
  right: auto;
}

.btn-up {
  position: fixed;
  background-color: #280274;
  right: 20px;
  bottom: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 50px;
}

.btn-up::before {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: #492E87;
  }
}


.footer {
  background-color: black;
  height: 50px;
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 10px;
}